body{
   border:10px solid lab(89.91% -67.79 85.83);
}
.main{
   margin:0;
   padding:0;
   background-image: url("./backgroundimage.jpg");
   background-size: cover;
   background-position: center;
   height:305vh;
   width:100%;
   top: 0;
   left:0;
   right:0;
   bottom:0;
   filter:blur(6px);
   z-index: 1;
}
.box1{
   font-style: italic;
   width:340px;
   height:120px;
   position: absolute;
   top:45px;
   left:40px;
   background: black;
   color: white;
   padding: 20px;
   font-weight: bold;
   font-size: 30px;
   line-height: 1.8;
   border-radius: 40px;
   border:7px solid red;
   text-align: center;
   justify-content: center;
   margin: 20px auto;
   font-family: sans-serif;
   display: flex;
   align-items: center;
   z-index: 2;
   margin-bottom: 10px;
}
.box2{
   font-style: italic;
   width:460px;
   height:65px;
   position: absolute;
   top:45px;
   left:415px;
   background: black;
   color: white;
   padding: 20px;
   font-weight: bold;
   font-size: 30px;
   line-height: 1.8;
   border-radius: 40px;
   border:7px solid red;
   text-align: center;
   justify-content: center;
   margin: 20px auto;
   font-family: sans-serif;
   display: flex;
   align-items: center;
   z-index: 2;
   margin-bottom: 10px;
}
.box3{
   font-style: italic;
   width:340px;
   height:120px;
   position: absolute;
   top:45px;
   left:920px;
   background: black;
   color: white;
   padding: 20px;
   font-weight: bold;
   font-size: 20px;
   line-height: 1.8;
   border-radius: 40px;
   border:7px solid red;
   text-align: center;
   justify-content: center;
   margin: 20px auto;
   font-family: sans-serif;
   display: flex;
   align-items: center;
   z-index: 2;
   margin-bottom: 10px;
}
.form{
   width:430px;
   height:850px;
   position: absolute;
   top:230px;
   left:440px;
   color:red;
   padding: 20px;
   font-size: 19px;
   border:7px dashed red;
   text-align: center;
   justify-content: center;
   margin: 20px auto;
   z-index: 2;
   margin-bottom: 10px;
}
.circle{
   height:370px;
   width:370px;
   position: absolute;
   top:200px;
   left:-428px;
   background: hwb(184 4% 10% / 0.753);
   color: black;
   padding: 20px;
   font-weight: bold;
   font-size: 22px;
   border-radius: 50%;
   border:5px solid hsl(91, 27%, 39%);
   text-align: center;
   text-decoration: underline;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.5;
}
hr{
   width:100%;
   margin:8px 0;
}
.box4{
   font-style: italic;
   width:500px;
   height:80px;
   position: absolute;
   top:920px;
   left:15px;
   background: black;
   color: white;
   padding: 20px;
   font-weight: bold;
   font-size: 32px;
   border-radius: 40px;
   border:7px solid red;
   text-align: center;
   justify-content: center;
   margin: 20px auto;
   font-family: sans-serif;
   display: flex;
   align-items: center;
   z-index: 2;
}
.line{
   width: 100%;       
    border: none;             
    border-top: 2px solid black;  
    margin: 0;      
}
.box5{
   width:300px;
   height:220px;
   position: absolute;
   top:1100px;
   left:-380px;
   background: hwb(182 0% 0%);
   color: blue;
   padding: 20px;
   font-weight: bold;
   font-size: 15px;
   border-radius: 40px;
   border:4px solid #093d09;
   text-align: left;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.5;
}
.heading1{
   text-align: center;
   font-size: 25px;
   margin-bottom: 5px;
}
.box6{
   width:300px;
   height:220px;
   position: absolute;
   top:1100px;
   left:60px;
   background: hwb(182 0% 0%);
   color: blue;
   padding: 20px;
   font-weight: bold;
   font-size: 15px;
   border-radius: 40px;
   border:4px solid #093d09;
   text-align: left;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.4;
}
.heading2{
   text-align: center;
   font-size: 25px;
   margin-bottom: 5px;
}
.box7{
   width:300px;
   height:220px;
   position: absolute;
   top:1100px;
   left:480px;
   background: hwb(182 0% 0%);
   color: blue;
   padding: 20px;
   font-weight: bold;
   font-size: 15px;
   border-radius: 40px;
   border:4px solid #093d09;
    text-align: left;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.4;
}
.heading3{
   text-align: center;
   font-size: 25px;
   margin-bottom: 5px;
}
.box8{
   width:300px;
   height:220px;
   position: absolute;
   top:1400px;
   left:-380px;
   background: hwb(182 0% 0%);
   color: blue;
   padding: 20px;
   font-weight: bold;
   font-size: 15px;
   line-height: 1.8;
   border-radius: 40px;
   border:4px solid #093d09;
    text-align: left;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.4;
}
.heading4{
   text-align: center;
   font-size: 25px;
   margin-bottom: 5px;
}
.box9{
   width:300px;
   height:220px;
   position: absolute;
   top:1400px;
   left:60px;
   background: hwb(182 0% 0%);
   color: blue;
   padding: 20px;
   font-weight: bold;
   font-size: 15px;
   line-height: 1.8;
   border-radius: 40px;
   border:4px solid #093d09;
    text-align: left;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.3;
}
.heading5{
   text-align: center;
   font-size: 25px;
   margin-bottom: 5px;
}
.box10{
   width:300px;
   height:220px;
   position: absolute;
   top:1400px;
   left:480px;
   background: hwb(182 0% 0%);
   color: blue;
   padding: 20px;
   font-weight: bold;
   font-size: 15px;
   border-radius: 40px;
   border:4px solid #093d09;
    text-align: left;
   justify-content: center;
   margin: 30px auto;
   font-family: sans-serif;
   display: inline-block;
   vertical-align: top;
   align-items: center;
   z-index: 2;
   line-height: 1.5;
}
.heading6{
   text-align: center;
   font-size: 25px;
   margin-bottom: 5px;
}
